/*задала общие правила для элемента p*/
p {
	width: 300px;
}

/*задала белый цвет букв заголовка
и фон красного цвета, задала ширину блока*/
h2 {
	color: #ffffff;
	background: #ff0000;
	width: 100px;
}


/*окрасила фон первого параграфа
в синий цвет, задала ему высоту*/
.first_par {
	height: 50px;
	background: #4600ff;
}

/*окрасила фон второго параграфа
в желтый цвет, задала ему высоту*/
.second_par {
	height: 35px;
	background: #fdf800;
}

/*задала ширину горизонтальной линии
и поместила ее в левый край страницы*/
hr {
	width: 330px;
	margin: 0;
}